<nav>
    <div class="site-title">
      <a href="/blogs"><h1>Blog By MuK</h1></a>
      <p>EveryThing EXCEPT Enginnering</p>
    </div>
    <ul class="mobile-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/blogs">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <!-- <li><a href="/blogs/create">New Blog</a></li> -->
    </ul>
  </nav>