<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog By MuK | <%= title %></title>
        <link rel="stylesheet" href="/this.css">
    </head>
<body>
    <%- include("./partials/nav.ejs") %>


    <div class="aboutcontent">
        <header>
            <h1>About</h1>
        </header>
        <p>My name is Mukund and I am a student of Bachelor Of Technology in ComputerScience</p>

        <p>I generally code in Java and Javascript.Also, I have made projects using NodeJs,React,MongoDb.
            I am aspiring web developer and love to develop projects.
        </p>

        <p>I love to have your feedback for my blogs and you can send me suggestions for blogs on my mail @muksource00@gmail.com</p>

    </div>
    <footer>
        Copyright &copy; Muk-Source 2021
      </footer>

</body>

</html>