<!DOCTYPE html>
<html>
<head>
	<title>Blog By Muk | Home</title>
	<link rel="stylesheet" type="text/css" href="video.css">
</head>
<body>
	<header class="v-header container">
		<div class="full-screen-video-wrap">
			<video src="video1.mov" autoplay="true" loop="true"></video>
		</div>
		<div class="header-overlay"></div>
		<div class="header-content">
			<h1>hellow world</h1>
			<p>Hey guys,this is a personal blog page where I put my views on almost every trending topic.
				We generally busy living our life in a very small space of this huge world.
				I try to cover all the amazing things and all the latest information of this ever 
				changing world.
				Thank You.🤟
			</p>
			<a href="/blogs" class="btn">Blogs</a>
		</div>
	</header>

</body>
</html>